

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {

    --primary-clr-Tomato: hsl(4, 100%, 67%);
    --Neutral-clr-Dark-Slate-Grey: hsl(234, 29%, 20%);
    --Neutral-clr-Charcoal-Grey: hsl(235, 18%, 26%);
    --Neutral-clr-Grey: hsl(231, 7%, 60%);
    --Neutral-clr-White: hsl(0, 0%, 100%);
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: var(--Neutral-clr-Charcoal-Grey);
    min-height: 100vh;
    display: grid;
    place-content: center;
}

/*------------- desktop view ------------- */

/*--- Sign-up form / first page ---*/
.sign-up-form {
    display: flex;
    background-color: var(--Neutral-clr-White);
    border-radius: 20px;
    padding: 20px 0;
    margin-bottom: 10px;
}

.left-side {
    padding: 30px 60px 30px 30px;
    
}

.header {
    font-size: 58px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 5px;
    position: relative;
    right: 14px;
    bottom: 15px;
}

.text-p {
   text-align: left;
   position: relative;
   left: 5px;
   width: 380px;
   bottom: 10px;

}


ul {
    list-style: none;
    position: relative;
    right: 24px;
}

.list-icon {
    margin-right: 10px;
    vertical-align: middle;
    position: absolute;
    left: 28px;
}

.para{
    margin-left: 25px;

}


.right-side {
    position: relative;
    right: 20px;
}

.mobile-img {
    display: none;
}

.desktop-img {
    display: flex;
}

label {
    font-size: 12px;
    font-weight: 550;
    position: relative;
    right: 13px;
}


#email, .sub-btn {
    border-radius: 8px;
    outline: none;
    
    
}


#email {
    margin-bottom: 20px;
    margin-top: 10px;
    padding-left: 20px;
    height: 50px;
    width: 330px;
    position: relative;
    right: 14px;
    border: none;
    border: 1px solid hsl(231, 7%, 60%);
    color:hsl(231, 7%, 60%) ;
    font-family: inherit;
    
}
::placeholder{
    color: hsl(231, 7%, 60%);
}

span {
    font-weight: 700;
}

.sub-btn {
    height: 55px;
    width: 355px;
    color: var(--Neutral-clr-White);
    background-color: var(--Neutral-clr-Charcoal-Grey);
    cursor: pointer;
    border: none;
    transition: all 0.3s ease-in-out;
    position: relative;
    right: 14px;
    font-weight: bold;
    font-size: 15px;
}


.subscribe-input-div {
   
    position: relative;
    left: 20px;
    margin-top: 50px;
    bottom: 15px;
}

.sub-btn:active, .sub-btn:hover {
    background-image: linear-gradient(to right, hsl(4, 100%, 67%) 70%, hsl(20, 100%, 65%));
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

em {
    font-size: 13px;
    position: absolute;
    right: 40px;
    color: var(--primary-clr-Tomato);
    vertical-align: middle;
    font-weight: 700;

}


 
 

 
   


/*------------- mobile view ------------- */
@media screen and (max-width: 768px) {
    .sign-up-form {
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        width: 375px;
        border-radius: 0;
    }

    .desktop-img {
        display: none;
    }

    .mobile-img {
        display: flex;
        position: relative;
        left: 20px;
        
    }

    .header {
        font-size: 40px;
        position: relative;
        left: -25px;
    }

    .text-p {
        width: 300px;
    }

    ul {
        width: 300px;
    }

    .subscribe-input-div {
        position: relative;
        left: 0;
        margin-top: 50px;
    }

    #email {
        width: 305px;
        border: none;
        border: 1px solid hsl(231, 7%, 60%);
        padding: 2px;
        padding-left: 10px;
         position: relative;
         left: 1px;
    }

    .sub-btn {
        width: 320px;
        height: 55px;
        background-color: rgba(0, 0, 0, 0.805);
        position: relative;
        left: 1px;
        font-size: 15px;
    }

    em {
        right: -20px;
    }

    .success-message {
        display: block;
        height: 85vh;
        width: 300px;
        
    }

    .dismiss-btn {
        margin-top: 300px;
    }
    
    .header{
        position: relative;
        right:15px;
        margin-bottom: 5px;
        font-size: 40px;
        margin: 17px;
    }
    
     .text-p{
         margin-left:-10px;
     }
     .list-icon{
         position: absolute;
         left: 20px; 
     }
.para{
        position: relative;
        bottom: 3px;
         right: 10px;
        line-height: 26px;
       }
#form{
        margin-top: -20px;
      }
.subscribe-input-div{
        position: relative;
        bottom: 15px;

    }
::placeholder{
        color: hsl(231, 7%, 60%);
    }
    label{
        position: relative;
        left: 1px;
        font-size: 10px;
    }
    
   
}

/* Mamun */
